body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
  background-color: gray;
}

img {
  width: 500px;
}

/* Border Radius */
.blob-image--1 {
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 25%;
  animation: blob 8s ease infinite;
  box-shadow: inset;
}

@keyframes blob {
  0% {
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 25%;
    transform: translateY(0%);
  }

  25% {
    transform: translateY(3%) translateX(2%);
  }

  50% {
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 40%;
    transform: translateY(0%) translateX(0%);
  }

  75% {
    transform: translateY(3%) translateX(-2%);
  }

  100% {
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 25%;
    transform: translateY(0%);
  }
}

/* Clip Path Circle */
.blob-image--2 {
  /* clip-path: url(#blob-mask); */
  clip-path: circle(40%);
  object-fit: cover;
  animation: blob-2 5s ease infinite;
}

@keyframes blob-2 {
  0% {
    clip-path: circle(55%);
  }

  50% {
    clip-path: circle(80%);
  }

  100% {
    clip-path: circle(55%);
  }
}

/* Custom SVG Morph */
.blob-image--3 {
  clip-path: url(#blob-mask-1);

  object-fit: cover;
  /* animation: blob-3 5s ease infinite; */
}

#blob-mask-1 {
  transform: scale(0.6);
  animation: blob-3 5s ease infinite;
}

/* @keyframes blob-3 {
  0% {
    clip-path: path(url("#Union_60"));
  }

  50% {
    clip-path: path("M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z");
  }

  100% {
    clip-path: path("M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z");
  }
} */
